apiVersion: apps/v1
kind: Deployment
metadata:
  name: hello-headless-service-k8s-server
  labels:
    app: hello-headless-service-k8s-server
spec:
  replicas: 3
  selector:
    matchLabels:
      app: hello-headless-service-k8s-server
  template:
    metadata:
      labels:
        app: hello-headless-service-k8s-server
      annotations:
        sidecar.istio.io/inject: "false"
    spec:
      serviceAccountName: server-user
      containers:
      - name: hello-headless-service-k8s-server
        ports:
          - protocol: TCP
            containerPort: 50051
        image: localhost:5001/hello-headless-service-k8s-server:latest
        env:
          - name: POD_NAME
            valueFrom:
              fieldRef:
                fieldPath: metadata.name
          - name: NAMESPACE
            value: "default"
        resources:
          limits:
            cpu: "200m"
            memory: "250Mi"
          requests:
            cpu: "100m"
            memory: "100Mi"
        readinessProbe:
          exec:
            command: [ "/bin/grpc_health_probe", "-addr=:50051", "-rpc-timeout=4s" ]
          initialDelaySeconds: 5
          timeoutSeconds: 5
        livenessProbe:
          exec:
            command: [ "/bin/grpc_health_probe", "-addr=:50051", "-rpc-timeout=4s" ]
          timeoutSeconds: 5

---
apiVersion: v1
kind: Service
metadata:
  name: hello-headless-service-k8s-server
spec:
  clusterIP: None
  selector:
    app: hello-headless-service-k8s-server
  ports:
    - port: 5005
      name: hello-headless-service-k8s-server
      protocol: TCP
      targetPort: 50051